/* _content/WEB_253505_Shpakovsky.Domain/Component1.razor.rz.scp.css */
.my-component[b-2zx2m6xyjy] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
