<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
 <header class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">WebLabsV02</a>
            <partial name="_MenuPartial"/>
            <partial name="_UserInfoPartial"/>
        </div>
    </header>

    <main class="container mt-5">
        @RenderBody()
    </main>

    <footer class="bg-dark text-light mt-5">
        <div class="container">
            <div class="d-flex justify-content-end py-3">
                <a class="text-light me-3" href="http://www.facebook.com">
                    <i class="fa-brands fa-facebook-f fa-2x"></i>
                </a>
                <a class="text-light me-3" href="http://www.vk.com">
                    <i class="fa-brands fa-vk fa-2x"></i>
                </a>
                <a class="text-light" href="http://www.twitter.com">
                    <i class="fa-brands fa-twitter fa-2x"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)

</body>
</html>