@{
    var name = User.Claims.FirstOrDefault(c => c.Type.Equals("name", StringComparison.OrdinalIgnoreCase))?.Value;
    var email = User.Claims.FirstOrDefault(c => c.Type.Equals("preferred_username", StringComparison.OrdinalIgnoreCase))?.Value;
    var avatar = User.Claims.FirstOrDefault(c => c.Type.Equals("avatar", StringComparison.OrdinalIgnoreCase))?.Value;
}
<div class="d-flex align-items-center">
    @if (User.Identity.IsAuthenticated)
    {
        @await Component.InvokeAsync("Cart")
        <div class="dropdown ms-4 nav-color">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@avatar" width="20" class="rounded nav-color" />
                @name
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                    <div class="dropdown-item" href="#">
                        <img src="@avatar" width="30" />
                        @email
                    </div>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><a asp-controller="Account" asp-action="Logout" class="dropdown-item">Logout</a></li>
            </ul>
        </div>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login" class="me-3">Login</a>
        <a asp-controller="Account" asp-action="Register">Register</a>
    }
</div>
