@page
@model WEB_253505_Shpakovsky.UI.Areas.Admin.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
    var categories = ViewData["Categories"] as SelectList;
}

<h1>Create Movie</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Name" class="control-label"></label>
                <input asp-for="Movie.Name" class="form-control" />
                <span asp-validation-for="Movie.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Description" class="control-label"></label>
                <textarea asp-for="Movie.Description" class="form-control"></textarea>
                <span asp-validation-for="Movie.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Duration" class="control-label"></label>
                <input asp-for="Movie.Duration" class="form-control" />
                <span asp-validation-for="Movie.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Rating" class="control-label"></label>
                <input asp-for="Movie.Rating" class="form-control" />
                <span asp-validation-for="Movie.Rating" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Выберите изображение</label>
                <input class="form-control" type="file" asp-for="Image" />
            </div>
            <div class="form-group">
                <label asp-for="Movie.CategoryID" class="control-label"></label>
                <select asp-for="Movie.CategoryID" class="form-control" asp-items="categories"></select>
                <span asp-validation-for="Movie.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
</div>
